.googleauth {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        padding: 8px;

        box-sizing: border-box;

        display: flex;
        align-items: center;
        gap: 16px;

        font-weight: bold;
    }

    &__desc {
        opacity: 0.5;
        font-size: 14px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        padding: 15px;
    }
}