.button {
    font-size: 12px;
    padding: 8px;

    color: black;
    background: #F2F2F2;

    border-radius: 4px;
    box-sizing: border-box;

    width: 100%;

    cursor: pointer;
    transition: all 0.5s ease;
}

.aftersubmit {
    border: 2px dashed #6C767B;
    color: #7972F3;
    background: white;
    
    border-radius: 8px;

    font-weight: 600;

    &:hover {
        background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%);
        color: white !important;
    }
}

.beforesubmit {
    border: 2px solid #537aee00;
    background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%);
    color: white !important;

    border-radius: 8px;
}

.disabled {
    opacity: 0.3;
    border: 2px dashed #6C767B !important;

    &:hover {
        background: #F2F2F2 !important;
    }
}

.whitebg {
    border: none;
    background-color: white;

    &:hover {
        background: #c7c7c7;
    }
}

.transparent {
    border: none;
    background: transparent;

    &:hover {
        background: white;
    }
}

.usually {
    border: 2px dashed transparent;

    &:hover {
        background: #c7c7c7;
    }
}

.red {
    border: 2px solid #E52626;
    background: #E52626;
}

.danger {
    border: 2px dashed #6C767B;
    color: red;
    
    font-weight: 700;
    background: white;

    &:hover {
        background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%);
        color: white !important;
    }
}