.main {

    &__payments_content {
        display: flex;
        gap: 16px;

        &__payments_change {
            width: 40%;

            display: flex;
            flex-grow: 1;
            flex-direction: column;
            gap: 16px;

            .form {
                display: none;
            }

            &__btn {
                display: flex;
                align-items: center;
                gap: 8px;

                .visa_text {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    color: black;

                    &__title {
                        text-align: start;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                    }

                    &__desc {
                        width: 100%;

                        opacity: 0.5;

                        font-weight: 400;
                        font-size: 12px;

                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }

        &__payments_form {
            flex-grow: 1;
            width: 40%;
        }
    }
}

@media screen and (max-width: 720px) {

    .main {

        &__payments_content {
            flex-direction: column;

            &__payments_change {
                width: 100%;

                .active {
                    
                    .form {
                        display: flex !important;
                        flex-direction: column;
                    }
                }

                &__block {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    
                    .form {
                        display: none;
                    }
                }
            }

            &__payments_form {
                display: none;
            }
        }
    }
}