.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(12px);
    
    &__block {
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 16px;
        box-sizing: border-box;
        
        border-radius: 16px;
        background: white;

        max-width: 600px;

        font-size: 14px;

        &__line {
            height: 1px;
            min-width: 100%;

            background: black;
            opacity: 0.2;
        }

        &__title {
            font-weight: bold;
        }

        &__desc {
            font-weight: 400;
        }

        &__btns {
            display: flex;
            gap: 16px;

            &__button {
                flex-grow: 1;
                width: 40%;
                padding: 15px;
            }
        }

        &__pare {
            display: flex;
            gap: 16px;
            
            .button {
                display: flex;
                align-items: center;
                gap: 5px;

                padding: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__content {

            .react-code-input {
                width: 100%;

                display: flex !important;
                justify-content: center;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }

                input {

                    &:nth-child(2) {

                        &::after {
                            content: "-";
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
        
        &__profit {
            padding: 0;
            background: transparent;

            border: none;

            &__content {
                display: flex;
                
                .infoblock {
                    background: transparent;
                }
            }
        }

        &__confirm {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (max-width: 700px) {
    
    .modal {

        padding: 16px;
        box-sizing: border-box;

        &__block {
            max-width: 100%;
            width: 100%;
        }
    }
}