.main {

    &__dashboard_content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__actives {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .userinfoblock {

                &__information {

                    img {
                        width: 52px;
                        height: 52px;
                    }

                    &__desc {
                        font-size: 28px;
                        
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }

            &__profit {
                width: 40%;

                display: flex;
                gap: 10px;

                .infoblock {
                    align-items: center;
                }
            }

            &__time {
                display: none;

                flex-direction: column;
                gap: 8px;
            }
        }

        &__userinfo {
            display: flex;
            gap: 24px;
        }

        &__chart {
            display: flex;
            gap: 24px;
        }

        &__mycopy {

            &__title {
                padding: 24px 0;

                font-weight: 700;
                font-size: 14px;
            }

            &__content {
                display: grid;
                grid-template-columns: calc(50% - 12px) calc(50% - 12px);
                grid-gap: 24px;

                .content__card {
                    
                    &__profit {
                        width: 100%;
                        display: flex;
                    }

                    &__traid_cryptobtn {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 10px;

                        width: 50%;

                        .button {
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            font-size: 12px;
                            font-weight: 400;

                            img {
                                width: 14px;
                                height: 14px;
                            }

                            padding: 2px;

                            span {
                                opacity: 0.5;
                            }
                        }
                    }

                    &__cryptobtn {
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;

                        padding: 8px 0 8px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .main {

        &__dashboard_content {

            &__actives {
                flex-direction: column;

                &__profit {
                    width: 100%;
                }

                &__time {
                    display: flex;
                }
            }

            &__userinfo {
                flex-wrap: wrap;
                
                .infoblock {
                    width: 40%;
                    flex-grow: 1;
                }
            }

            &__mycopy {

                &__content {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__chart {
                flex-direction: column;
            }
        }
    }
}