.create_group {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: 999;

    display: flex;
    justify-content: end;

    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(12px);

    &__sidebar {
        width: 40%;
        max-height: 100vh;

        height: 100%;
        overflow-y: scroll;
        
        background: white;
        border-radius: 8px 0 0 8px;

        padding: 24px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
            padding: 16px;
            box-shadow: inset 0px -1px 0px #CCD4D8;

            display: flex;
            justify-content: space-between;

            span {
                font-weight: 500;
            }
        }

        .field {
            width: 100%;
            
            input {
                background: #FAFAFA;
            }
        }

        .birthday {
            width: 100%;
            position: relative;

            .react-calendar {
                position: absolute;
                top: 100%;

                min-width: 300px;
                width: 100%;

                z-index: 100;

                right: 0;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__sum {
                display: flex;
                gap: 16px;

                padding-bottom: 16px;
                box-sizing: border-box;

                box-shadow: inset 0px -1px 0px #CCD4D8;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    
    .create_group {
    
        &__sidebar {
            width: 50%;
        }
    }
}

@media screen and (max-width: 965px) {
    
    .create_group {
    
        &__sidebar {
            width: 100%;

            &__title {
                justify-content: start;
                gap: 16px;

                padding-left: 0;

                .menu_toggle {
                    display: none;
                }
            }

            &__back {
                display: flex;

                background-image: url("../../assets/img/arrowLeft.svg");
                background-repeat: no-repeat;
                background-size: cover;

                width: 24px;
                height: 21px;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    
    .create_group {
        background: transparent;
        backdrop-filter: none;

        top: 50px;

        z-index: 10;
    
        &__sidebar {
            width: 100%;

            &__title {
                align-items: center;
                justify-content: start;
                gap: 16px;

                padding-left: 0;

                span {
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            &__back {
                display: flex;

                background-image: url("../../assets/img/arrowLeft.svg");
                background-repeat: no-repeat;
                background-size: cover;

                width: 24px;
                height: 21px;
            }

            &__content {
    
                &__sum {
                    flex-direction: column;
                }
            }
        }
    }
}