.trade_group {
    background: white;

    padding: 32px;
    box-sizing: border-box;
}

.main {

    &__trade_group {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .cardinfo  {
            width: 30%;
            flex-grow: 1;

            &__title {
                font-weight: 700;
            }

            &__desc {
                opacity: 0.5;
                font-weight: 400;
                font-size: 14px;
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .button {

                &:last-child {
                    padding: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    
    .main {

        &__trade_group {
            flex-direction: column;
            
            &__item {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    
    .main {

        &__trade_group {
            
            &__item {
                width: 40%;
            }
        }
    }
}