.trade_group {
    background: white;

    padding: 32px;
    box-sizing: border-box;
}

.main {

    &__trade_group {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 16px;

        .cardinfo  {
            width: 100%;
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            &__title {
                font-weight: 700;
            }

            &__desc {
                opacity: 0.5;
                font-weight: 400;
                font-size: 14px;
            }

            .active {
                
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 0.5s ease;
                }
            }

            .false {

                p {
                    word-wrap: break-word;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .button {

                &:last-child {
                    padding: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    
    .main {

        &__trade_group {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
    }
}

@media screen and (max-width: 680px) {
    
    .main {

        &__trade_group {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }
    }
}