.main {
    width: 100%;
    height: 100%;

    &__security_content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 80%;

        padding: 0 22%;

        box-sizing: border-box;
    }
}

@media screen and (max-width: 700px) {
    
    .main {

        &__security_content {
            padding: 0;
            
            align-items: flex-start;
        }
    }
}