.hamburger_menu {
    display: none;
    align-items: center;

    width: auto;
    height: 100%;
  
    &__btn {
        display: flex;
        align-items: center;

        height: 100%;
        width: auto;
    }

    &__container {
      width: 100%;
      height: 100%;

      position: absolute;

      z-index: 999;

      top: 0;
      left: 0;

      &__nav_links {
          width: 100%;
          background: white;

          padding: 16px;
          box-sizing: border-box;

          display: flex;
          flex-direction: column;
          gap: 16px;
  
          font-size: 14px;

          .userinfoblock__information {
              width: 100%;

              div {
                  order: 1;
              }
          }

          &__theme {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 32px;
          }
  
          a {
              color: black;
              background: #FAFAFA;
  
              padding: 12px;
              border-radius: 8px;
  
              text-decoration: none;
              transition: all 0.5s ease;
              
              display: flex;
              align-items: center;
              gap: 8px;
  
              transition: all 0.5s ease;
  
              img {
                  width: 10px;
                  height: 10px;
                  
                  opacity: 0.5;
  
                  &:first-child {
                      transform: rotate(-90deg);
                  }
  
                  &:last-child {
                      display: none;
                  }
  
                  transition: all 0.5s ease;
              }
          }
  
          .active {
              color: #7972F3;
              background: linear-gradient(90deg, #D5EDFF 0%, #FFFFFF 100%);
              
              img {
                  opacity: 1;
  
                  &:first-child {
                      display: none;
                  }
  
                  &:last-child {
                      display: block;
                  }
              }
          }
      }
    }
  }
