.cardinfo {
    // width: 100%;
    padding: 12px;

    background: #FBFBFB;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 8px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 16px;
        
        &__info {
            display: flex;
            gap: 8px;

            &__logo {
                
                img {
                    width: 40px;
                    height: 40px;

                    border-radius: 50%;
                }
            }

            &__name {
                display: flex;
                flex-direction: column;
                gap: 5px;

                color: black;

                span {
                    font-size: 14px;
                    font-weight: 700;
                }

                p {
                    opacity: 0.5;
                    font-weight: 400;
                }
            }
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 14px;
                height: 14px;
            }

            span {
                font-size: 14px;
                color: #A8DC66;
            }
        }
    }
}