.load {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__spinner {
        pointer-events: none;
        width: 2.5em;
        height: 2.5em;
        border: 0.4em solid transparent;
        border-color: #eee;
        border-top-color: #936BF7;
        border-radius: 50%;
        animation: loadingspin 1s linear infinite;
    }
}

@keyframes loadingspin {
	100% {
        transform: rotate(360deg)
	}
}
