.select {
    position: relative;

    width: 100%;

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
    padding: 12px;

    box-sizing: border-box;
    background: #F8F8F8;
    box-shadow: inset 0px -1px 0px #CCD4D8;

    img {
        width: 15px;
        height: 15px;
    }

    &__list {
        width: 100%;

        position: absolute;

        top: 100%;
        left: 0;

        background: #F8F8F8;
        padding: 8px;
        
        box-sizing: border-box;
        border: 1px solid #F0F0F0;
        border-radius: 0 0 10px 10px;

        z-index: 2;

        li {
            list-style: none;
            padding: 2px;
            cursor: pointer;
            background-color: transparent;

            border-radius: 2px;

            transition: all 0.5s ease;

            &:hover {
                background: rgb(226, 226, 226);
            }
        }
    }
}