.investorlayout {
    width: 100%;
    padding-top: 73px;

    box-sizing: border-box;

    &__group {
        margin: 0 auto;
        padding: 40px 15%;
        box-sizing: border-box;

        width: 100%;
        min-height: calc(100vh - 73px);

        display: grid;
        grid-template-columns: calc(30% - 8px) calc(70% - 8px);
        grid-gap: 16px;

        .sidebar {
            height: auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
            
            padding: 24px;
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            background: #FFFFFF;
            border-radius: 24px;

            box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.03), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437);
        
            .main {

                &__header {
                    padding: 24px 0;
                    box-sizing: border-box;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    border-bottom: 1px solid rgb(226, 226, 226);
                    margin-bottom: 24px;

                    &__title {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        
                        width: 100%;
                        
                        svg {
                            width: 25px;
                            height: 25px;

                            stroke: #09090E;

                            opacity: 0.2;
                        }

                        span {
                            font-size: 24px;
                            font-weight: 700;
                        }

                        &__back {
                            display: none;
                        }
                    }

                    &__info_group {
                        width: 100%;

                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1665px) {
    .investorlayout {

        &__group {
            padding: 40px 10%;
        }
    }
}

@media screen and (max-width: 1285px) {
    .investorlayout {

        &__group {
            padding: 40px 5%;
        }
    }
}

@media screen and (max-width: 1118px) {
    .investorlayout {

        &__group {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 1118px) {

    .investorlayout {

        &__group {
            grid-template-columns: 100%;
            padding: 0;

            .sidebar {
                display: none;
            }

            &__content {

                .main {
                    width: 100%;
                    padding: 0;
                    box-sizing: border-box;

                    &__header {

                        &__title {

                            &__back {
                                display: flex;

                                background-image: url("../../assets/img/arrowLeft.svg");
                                background-repeat: no-repeat;
                                background-size: cover;

                                width: 24px;
                                height: 21px;
                            }
                        }

                        &__info_group {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .investorlayout {

        &__group {
            grid-template-columns: 100%;
            padding: 0;

            .sidebar {
                display: none;
            }

            &__content {

                .main {

                    &__header {
                        margin-bottom: 0;
                        padding: 0 0 24px 0;

                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .investorlayout {

        &__group {
            grid-template-columns: 100%;
            padding: 0;

            .sidebar {
                display: none;
            }

            &__content {

                .main {

                    &__header {
                        margin-bottom: 0;
                        padding: 0 0 24px 0;
                    }
                }
            }
        }
    }
}