.main {
 
    &__group_content {

        &__card {

            &__payment {
                padding: 16px;
                box-sizing: border-box;

                display: flex;
                justify-content: space-between;
                gap: 16px;

                background: radial-gradient(100% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                border-radius: 8px;

                span {
                    font-size: 20px;
                    font-weight: 700;

                    text-transform: uppercase;

                    color: white;
                }

                .button {
                    width: auto;

                    color: #9E68F8;
                    font-weight: bold;
                }
            } 

            &__list {
                display: flex;
                flex-direction: column;
                gap: 16px;

                width: 100%;

                &__item {
                    width: 100%;

                    display: flex;
                    justify-content: space-between;

                    .item_date {
                        // font-family: 'Source Code Pro';
                        font-weight: 700;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        font-size: 14px;

                        span {

                            &:last-child {
                                color: #7972F3;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    
    .main {
 
        &__group_content {
    
            &__card {
    
                &__payment {
                    flex-direction: column;

                    span {
                        text-align: center;
                    }
                } 
            }
        }
    }
}