.main {
    
    &__contacts__content {
        display: grid;
        grid-template-columns: calc(35% - 38.5px) calc(65% - 38.5px);
        grid-gap: 77px;

        margin-top: 32px;

        &__links {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                gap: 16px;

                padding: 16px 0;

                border-top: 1px solid #ccc;

                font-size: 12px;

                &:last-child {
                    border-bottom: 1px solid #ccc;
                }

                div {

                    &:last-child {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        span {
                            font-weight: 500;
                        }

                        a {
                            opacity: 0.5;
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {

    .main {

        &__contacts__content {
            display: flex;
            flex-direction: column;

            margin: 0;

            &__maps {
                width: 100%;
                height: 20em;

                border-radius: 8px;
            }
        }
    }
}

// @media screen and (max-width: 900px) {
    
//     .main {

//         &__contacts__content {
//             grid-template-columns: calc(35% - 15px) calc(65% - 15px);
//             grid-gap: 30px !important;
//         }
//     }
// }