.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;

    gap: 8px;
    
    label {
        font-size: 12px;
        width: 100%;
    }

    input, textarea {
        padding: 16px;
        border: 1px solid transparent;

        font-size: 14px;

        box-sizing: border-box;
        box-shadow: inset 0px -1px 0px #CCD4D8;
        outline: none;

        transition: all 0.5s ease;

        &:focus {
            border: 1px solid #7972F3;;
            box-shadow: none;
        }
    }

    textarea {
        resize: none;
        overflow: hidden;
        min-height: 50px;
        max-height: 100px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    span {
        font-size: 12px;

        color: red;
    }

    .password_visible {
        position: absolute;
        bottom: 25px;
    }

    svg {
        position: absolute;
        top: 40px;
        right: 16px;

        cursor: pointer;
    }

    &__money {
        position: absolute;
        top: 35px;
        right: 16px;

        span {
            font-size: 14px;
            color: black;
        }
    }
}

.user_count {

    svg {
        position: absolute;
        bottom: 18px;
        left: 16px;

        cursor: pointer;
    }

    input {
        padding-left: 45px;
    }
}

.error input {
    box-shadow: inset 0px -1px 0px red !important;
}