.googleauth_twofactor {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        font-weight: bold;
        font-size: 16px;

        text-align: center;
    }

    &__desc {
        font-weight: 400;
        font-size: 14px;

        opacity: 0.5;

        p {
            text-align: center;
        }
    }

    &__code_img {
        display: flex;
        justify-content: center;
    }

    &__code_desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        
        opacity: 0.5;
    }

    &__code_text {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__error {
            font-size: 14px;
            color: red;
        }
    }
}