.authlayout {
    width: 100%;

    padding: calc(40px + 73px) 15% 40px 15%;
    box-sizing: border-box;
    
    &__content {
        padding: 32px;
        box-sizing: border-box;
        
        margin: 0 auto;

        width: 100%;
        min-height: calc(100vh - 73px);

        background: white;

        border-radius: 24px;

        .main_auth {
            
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 32px;

                img {
                    width: 50%;
                    height: 50%;
                }

                &__message {
                    
                }

                .form {
                    width: 40%;

                    &__desc {
                        font-size: 14px;
                        margin-bottom: 20px;
                        opacity: 0.5;
                    }

                    &__title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
        
                        span {
                            font-size: 18px;
                            font-weight: 700;
                        }

                        img {
                            width: 25%;
                        }
                    }

                    &__confirm {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        a {
                            color: #7972F3;
                        }
                    }

                    &__button {
                        display: flex;
                        align-items: center;

                        padding: 15px;
                        border-radius: 8px;
                        
                        img {
                            width: 15px !important;
                            height: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    
    .authlayout {
        padding: 72px 0 0 0;
        position: relative;

        height: 100%;

        &__content {
            flex-direction: column;

            img {
                width: 100% !important;
                height: 100% !important;
            }
            
            .form {
                width: 100% !important;
                max-height: calc(80vh - 73px);

                position: absolute;

                overflow-y: scroll;

                min-height: auto;

                bottom: 0;
                left: 0;

                img {
                    width: 25% !important;
                }

                form {
                    gap: 16px;
                }
            }
        }

        .footer {
            display: none;
        }
    }
}