.slider-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider {
    position: relative;
    width: 100%;

    &__values {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    /* height: 5px; */
}

.slider__track {
    background-color: black;
    width: 100%;
    z-index: 1;
    height: 1px;
}

.slider__range {
    background-color: black;
    z-index: 2;
    height: 1px;
}

.slider__left-value,
.slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
}

.slider__left-value {
    left: 6px;
}

.slider__right-value {
    right: -4px;
}

/* Removing the default appearance */
.thumb,
    .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;

    &::-moz-range-thumb {
        background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-top: 35px;
        pointer-events: all;
        position: relative;
    }

    &::-webkit-slider-thumb {
        background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%); 
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-top: 35px;
        pointer-events: all;
        position: relative;
    }
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}