@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;600;900&family=Red+Hat+Text:wght@500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;600;900&family=Red+Hat+Text:wght@500&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.react-calendar {
    border-radius: 8px;
    border-color: #CCD4D8;

    font-family: 'Inter', sans-serif;

    button {
        border-radius: 6px;
    }

    &__tile--active {
        background: radial-gradient(100.84% 5352.77% at 0.98% 0%, #9E68F8 0%, #537BEE 100%)
    }

    &__tile--now {
        background: transparent;
        border: 1px dashed black;
    } 
}

.App {
    background-image: url("./assets/img/background.svg");
    background-color: linear-gradient(#EDF1F3, white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w700 {
    font-weight: 700;
}

.green {
    color: #2CC07F;
}

.opacity {
    opacity: 0.5;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}
    
::-webkit-scrollbar {
    width: 4px;
  }

::-webkit-scrollbar-track {
    background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
    background: #7972F3;
}