.slider {
    position: relative;

    &__dots {
        width: 100%;

        position: absolute;

        bottom: 16px;
        left: 16px;

        display: flex;
        justify-content: start;
        gap: 7px;

        &__dot {
            width: 40px;
            height: 5px;

            cursor: pointer;

            background: #CCCCCC;
            border-radius: 8px;
        }

        .active {
            background: #7972F3 !important;
        }
    }
}

