.main {

    &__dashboard_content {

        &__payments {
            display: flex;
            gap: 10px;

            .infoblock {
                width: 100%;
            }
        }

        &__mycopy {

            &__content {

                .cardinfo {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .main {

        &__dashboard_content {
    
            &__payments {
                flex-direction: column;
            }

            &__actives {

                &__profit {
                    flex-direction: column;

                }
            }

            &__userinfo {
                flex-direction: column;

                .infoblock {
                    width: 100% !important;
                }
            }
    
            &__mycopy {
    
                &__content {
    
                    .cardinfo {
                        width: 100%;
                    }
                }
            }
        }
    }
}