.form {
    padding: 24px;

    box-sizing: border-box;
    border-radius: 8px;
    
    border: 1px solid #F0F0F0;

    background: #FBFBFB;
    
    &__button {
        padding: 10px;
        font-size: 14px;
    }

    &__cash_fields {
        
        .field {
            
            &:last-child {
                width: 100%;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .load{
            
            &__spinner {
                width: 1em;
                height: 1em;
            }
        }

        .usdt_key {
            word-wrap: break-word;
        }
    }
}